@page
@model SkillTreeRazorPageBlogSample.Pages.Admin.Article.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<partial name="_ArticleForm" />

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').pickadate({
      today:'',
      })
    })
    </script>
    <script>
    
    $(document).ready(function() {
        $('.tags-select2').select2({
        tags:true
        });
    });
    </script>
}

