@page
@using SkillTreeRazorPageBlogSample.Data
@model SkillTreeRazorPageBlogSample.Pages.Admin.Article.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<partial name="_ArticleForm"/>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script> 
    $(document).ready(function() {
      $('.datepicker').pickadate({
      today:'',
      })
    })
    </script>
    <script>
    
    $(document).ready(function() {
        $('.tags-select2').select2({
        tags:true,
        });
    
        // data:@Model.Tags.Where(t=>t.Selected==true).Select((t,index)=>new {id = index, text = t.Value, selected = t.Selected}).ToArray()
        <!--$('.tags-select2').val(@Model.Tags.Where(t=>t.Selected==true).Select((t,index)=>new {id = index, text = t.Value, selected = t.Selected}).ToArray());-->
        // $('.tags-select2').select2().trigger('change');
    });
    </script>
}
